.speech{
    font-family:  serif;
    font-size: medium;
    color: darkorange;
    
}

.stage-direction {
    font-family:  Helvetica;
    font-size: medium;
    color: aqua;
background-color: lightgray;
}

.stage-direction.hover{
background-color: lightblue;

}

.name{
    font-family: 'Times New Roman';
    font-size: x-large;
    color: aqua;

}
.ALICE{
     
    color: lightgreen;

}
.LADYHUNSTANTON{
    color: chocolate;

}
.GERALD{
    color: gold;

}
.MRSALLONBY{
    color: deeppink;

}

